{
    "sharepoint": {
        "MSGRAPH_TENANT": "fbe59500-b0cc-491b-aa3e-ffaf2699aec9",
        "MSGRAPH_CLIENT_ID": "b0e834de-04db-4732-b272-2a2e813488f2",
        "MSGRAPH_SECRET":  "REPLACE ME WITH THE SECRET",
        "NPM_SH_TOKEN": "PERSONAL AUTH TOKEN FOR PACKAGE PULLS AND GIT COMMITS",
        "BERUN_ALGOLIA_APIADMIN": "XXXXX",
        "BERUN_ALGOLIA_APPID": "XXXXX",
        "BERUN_ALGOLIA_APIKEY": "XXXX",
        "BERUN_ALGOLIA_INDEX": "docs",
        "FIREBASE_TOKEN": "replace with firebase-ci token",
        "SSH_PRIVATE_KEY": "-----BEGIN OPENSSH PRIVATE KEY-----\nn-----END OPENSSH PRIVATE KEY-----",
        "SSH_PUBLIC_KEY": "ssh-ed25519  ci@sync.health"
     }
}