{
    "sharepoint": {
        "MSGRAPH_TENANT": "fbe59500-b0cc-491b-aa3e-ffaf2699aec9",
        "MSGRAPH_CLIENT_ID": "b0e834de-04db-4732-b272-2a2e813488f2",
        "MSGRAPH_SECRET":  "REPLACE ME WITH THE SECRET"
    }
}